# Data directories
./cRPA_kcuf_frontier/
./cRPA_sfo_frontier/
./cRPA_kcuf_pd/
./cRPA_sfo_pd/

# Python
__pycache__/
*.pyc
*.egg-info/
build/
dist/

# IDE/OS
.vscode/
.DS_Store
*~

# Jupyter
.ipynb_checkpoints/
